include header.jade

.main-content

include upload.html

br

html
    <form method=post enctype=multipart/form-data>
    <input type=text name=opt1>
    <input type=text name=opt2>

br

include download.jade

